[program:recorder]
command={{ app_base }}/recorder/ot-recorder
priority=400
numprocs=1
autostart=true
autorestart=true

stopasgroup=true
killasgroup=true

stdout_logfile={{ tmp_base }}/service_recorder.log
stdout_logfile_maxbytes=5MB
stdout_logfile_backups=5
redirect_stderr=true

stdout_events_enabled = true
stderr_events_enabled = true
