{% set device = item %}
{% set user = users | selectattr('username', 'equalto', device.username) | first %}
{% set port = 8883 if mqtt_tls else 1883 %}
{% set data = {
	"_type": "configuration",
	"allowRemoteLocation": True,
	"auth": True,
	"cleanSession": False,
	"clientId" : "%s-%s" % (device.username, device.devicename),
	"cmd": True,
	"deviceId": device.devicename,
	"extendedData": True,
	"keepalive": 55,
	"mode" : (device.httpmode is defined and device.httpmode) | ternary(3, 0),
	"mqttProtocolLevel" : 4,
	"host": mqtt_domain,
	"password": user.password|string,
	"port": port,
	"positions": 200,
	"pubQos": 2,
	"pubRetain": True,
	"pubTopicBase": "owntracks/%s/%s" % (device.username, device.devicename),
	"subTopic" : "owntracks/+/+ owntracks/+/+/event owntracks/+/+/info owntracks/%s/%s/cmd" % (device.username, device.devicename),
	"ranging": True,
	"sub": True,
	"subQos": 2,
	"tid": device.tid,
	"tls": True,
	"url" : "https://%s/owntracks/pub" % (owntracks_domain),
	"usePassword": True,
	"username": device.username,
	"willQos": 1,
	"willRetain": False,
	"willTopic": "",
	"ws": False,
	"mapLayerStyle" : "OpenStreetMapNormal",
	"experimentalFeatures": [
		"bearingArrowFollowsDeviceOrientation",
		"showExperimentalPreferenceUI",
		"allowSmallKeepalive",
		"useOSMMap",
	],
} %}
{{ data | to_nice_json }}
